$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
  margin: 0 auto;
}

#game-board {
  margin-left: 0 auto;
  padding-bottom: 50px;
  padding-left: 250px;
}

.box {
  border: 1px solid green;
  width: 240px;
  height: 240px;
  text-align: center;
}

#box-1 {
  border-top: none;
  border-left: none;
}

#box-2 {
  border-top: none;
}

#box-3 {
  border-top: none;
  border-right: none;
}

#box-4 {
  border-left: none;
}

#box-6 {
  border-right: none;
}

#box-7 {
  border-left: none;
  border-bottom: none;
}

#box-8 {
  border-bottom: none;
}

#box-9 {
  border-right: none;
  border-bottom: none;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: #272727;
}

#copyright {
  color: white;
  padding: 15px;
}
