$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #272727;

body {
  text-align: center;
  margin: 0 auto;
}

.credentials{
}

.navbar-brand{
  font-size: 35px;
  margin: 0 auto;

}

.modal-footer{
  text-align: center;
}

#game-board {
  margin-left: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
  padding-left: 27%;
  padding-right: 27%;
}

.box {
  border: 2px dashed $background-color;
  width: 240px;
  height: 240px;
  text-align: center;
}

#turn-counter {
  border: 1px solid black;
}
// Removed Border from respective sides to create Tic-Tac-Toe Board

#box-0 {
  border-top: none;
  border-left: none;
}

#box-1 {
  border-top: none;
}

#box-2 {
  border-top: none;
  border-right: none;
}

#box-3 {
  border-left: none;
}

#box-5 {
  border-right: none;
}

#box-6 {
  border-left: none;
  border-bottom: none;
}

#box-7 {
  border-bottom: none;
}

#box-8 {
  border-right: none;
  border-bottom: none;
}

//  Finished with Border Adjustments

.replay{
  padding-bottom: 50px;
}

#replay {
  width:300px;
  height: 40px;
  height: 55px;
  font-size: 25px;
  background-color:$background-color;
  color: white;
  font-weight: bold;
}

#replay:hover{
  background-color: blue;
  // box-shadow:
}


.footer {
  height: 60px;
  width: 100%;
  background-color: $background-color;
}

#copyright {
  color: white;
  padding: 15px;
}
